/* Center embedded images and excalidraws */
img,
.excalidraw-embedded-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p img {
  flex: 1 1 auto;
  max-width: 100%;
  height: auto;
}

p:has(img) {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
  max-width: 100%;
  overflow: hidden;
}
